---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 110
IndentWidth: 2
AccessModifierOffset: -1
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<gtest/|^<gmock/|^<drogon/|^<benchmark/'
    Priority: 1
  - Regex: '^<[a-z_]+>$'
    Priority: 2
  - Regex: '^<'
    Priority: 3
  - Regex: '.*'
    Priority: 4
